// Define some variables for colors and font size
$secondary-color: #e94560;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 26px;

.header-container {
    width: 100%;
    height: auto;
    background: #0f3460;
    position: relative;
    z-index: 100;
}

.header {
    height: 40px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}

.header-card {
    color: #fff;
}

.card-item {
    display: inline-flex;
    margin-right: 20px;
    font-size: $font-size-small;
    align-items: center;
}

.card-item span {
    display: inline-block;
    height: auto;
    width: 15px;
    margin-right: 5px;
    padding-top: 5px;
}

.header-logo {
    color: $secondary-color;
    font-weight: bold;
    font-size: $font-size-large;
    margin-bottom: 4PX;
    /* FONT */
}

#header-logo {
    display: none;
}

#card-item {
    display: block;
}


.header-right {
    display: flex;
    margin-left: 15px;
    align-items: center;
}


.header-link-btn {
    padding-bottom: 4px;
    /* font size */
}

/* header-link  */
.header-link {
    color: #fff;
    font-size: $font-size-small;
    margin: 0px 15px;
    margin-bottom: 8px;
}

.header-link:hover {
    color: $secondary-color;
}

.header-com {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}


/* language div  */
.lang {
    height: 100%;
    position: relative;
    z-index: 2;
}

.lang-btn {
    display: flex;
    align-items: center;
}

.ctr-flg {
    width: 22px;
}

.ctr-flg img {
    width: 100%;
}

.ctr-lang {
    color: #fff;
    padding: 0px 0px 3px 5px;
    font-size: $font-size-medium;
    font-weight: bold;
}

.ctr-arrow {
    padding-top: 3px;
}

.btn-layar_one,
.btn-layar_two {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.lang-tlayer {
    display: none;
    position: absolute;
    width: 140px;
    top: 100%;
    left: -10px;
    padding: 8px;
}

.lang-tlayer.active {
    display: block;
}

.lang-list {
    width: 100%;
    height: 100%;
    padding: 4px 0px;
    background: #fff;
    box-shadow: 1px 0px 4px 2px rgba(0, 0, 90, 0.04);
    border-radius: 6px;
}

.lang-item {
    display: flex;
    padding: 4px 10px;
    cursor: pointer;
}

.lang-item:hover {
    background: #0f34600f;
}

.ctr-lang1 {
    font-size: $font-size-medium;
    font-weight: bold;
    color: #0d1117f3;
    margin-left: 10px;
}

@media (max-width : 1199px) {

    header {
        padding: 0px 10px;
    }

    .lang-tlayer {
        left: auto;
        right: -10px;
    }
}

@media (max-width : 901px) {

    #header-logo {
        display: block;
    }

    #card-item {
        display: none;
    }

    .header-link-btn {
        display: none;
    }
}